<div class="chat-wrapper">
  <mat-card *ngFor="let message of messages" class="card card__appeals">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{message.userName}}({{message.govId ? message.govId :''}})</mat-card-title>
        <mat-card-subtitle>{{message.date | date:'short'}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{message.text}}
    </mat-card-content>
  </mat-card>
  <mat-card class="card card__text-input">
    <mat-card-header>
      <mat-card-title>Введіть повідомлення</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label></mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
      </mat-form-field>
      <button mat-fab matTooltip="Primary" color="primary">
        <mat-icon>send</mat-icon>
      </button>
      <button mat-fab matTooltip="Primary" color="primary">
        <mat-icon>attach_file</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
