.form-card {
  max-width: 250px;
  margin: auto;
  margin-top: 20px;
  .form-card-content {
    mat-form-field {
      width: 100%;
    }
  }
}

.shaking {
  animation: skew-x-shakeng 0.3s;
}

@keyframes skew-x-shakeng{
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
 }
